/*


	swCV style.css file
	Hppsrc 2026
	Based on version 0.2.0-alpha
	? Custom styling
*/

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-VariableFont_wght.ttf") format("truetype"
		);
}


:root {
	/* default is dark mode  */
	--main-color: #0f1219;
	--main-color-font: #f3f3f3;

	--notice-bg: #5a0000;
	--notice-border: #ff4444;
	--notice-font: #ffffff;

	--focus-tab: #2d3a4a;
	/* --focus-tab-font: */
}

@media (prefers-color-scheme: light) {
	:root {
		--main-color: #ffffff;
		--main-color-font: #111111;

		--notice-bg: #ffe0e0;
		--notice-border: #cc0000;
		--notice-font: #8b0000;

		--focus-tab: #569cd6;
		/* --focus-tab-font: */
	}
}

* {
	padding: 0;
	margin: 0;

	font-family: "Jost";

	#overlay {
		z-index: 999;
		position: unset;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #00000055;
	}

	hr {
		opacity: 0.25;
		margin: 10px 0;
	}

	.frow {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.fcol {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.error_font {
		color: red;
	}

	.success_font {
		color: green;
	}

	user-select: none;
	transition: all 0.3s ease-in-out;

}

html {
	/* background-color: #fff; */

	body {

		padding: 20px;
		margin: 0 15%;

		max-width: 85%;

		main {
			/* background-color: var(--main-color);
			color: var(--main-color-font); */

			/* landing */
			&#setup {
				align-items: flex-start;
			}

			&#dashboard {
				#dash_menu {
					justify-content: space-between;
				}

				.tabs {
					padding: 0.5em 0;
					width: 20%;
					text-align: center;
					text-decoration: none;
					color: #526980;
					background-color: #2d3a4a00;
					transition: all 0.3s ease-in-out;
				}

				.active {
					width: 50%;
					text-decoration: none;
					color: var(--main-color-font);
					background-color: var(--focus-tab);
				}

				#dashboard_view {
					overflow: hidden;
					padding: 0 0.5em;
					margin: 0 0.5em;
				}

				.frow {
					justify-content: start;
					padding-bottom: 1em;
				}

				.title {
					justify-content: space-between;
				}

				input[type='checkbox'] {
					margin: 0 0.5em;
				}

				p {
					width: 90%;
				}

			}

			.setup_rows {
				justify-content: space-between;

				@media (min-width: 768px) {
					min-width: 90%;
					padding: 0 50% 0 0;
				}
			}

		}

		footer {
			overflow: hidden;
		}

	}
}