#
#
#
#	swCV .env.example file
# 	Hppsrc 2026
#	Based on version 0.2.0-alpha
#	? Example env file
#

'host' = "localhost"
'user' = "root"
'pass' = "1234"
'name' = "swCV"
'sql_generic_error' = "false"
'sql_generic_error_msg' = "SQL execution error."
'lang' = "en"

# Optional flags
'FLAG_IGNORE_DB_LANG' = "false"