#
#
#
#	swCV .env.example file
# 	Hppsrc 2026
#	Based on version 0.1.0-alpha
#	? Example env file
#

'host' = "localhost"
'user' = "root"
'pass' = "1234"
'name' = "swCV"
'sql_generic_error' = "false"
'sql_generic_error_msg' = "SQL execution error."
'version' = "001"
'lang' = "en"